---
import TimelineSlider from './TimelineSlider.astro';
import { timelineData } from '../data/homeData';
---

<section id="timeline" class="timeline bg-white py-20 relative">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 230" class="absolute top-0 left-0 right-0">
    <path fill="#f5f7fa" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>
  
  <div class="container relative z-10 pt-16">
    <div class="row text-center mb-16">
      <h1 class="text-5xl md:text-6xl font-bold font-jost gradient-underline mb-6">Our Journey</h1>
      <p class="text-xl md:text-2xl text-grey-600 mt-8">The Evolution of Koshish Family</p>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <TimelineSlider items={timelineData} />
      </div>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 230" class="absolute bottom-0 left-0 right-0">
    <path fill="#f5f7fa" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
