---
import TimelineSlider from './TimelineSlider.astro';
import { timelineData } from '../data/homeData';
---

<section id="timeline" class="section-spacing bg-white">
  <div class="container">
    <!-- Section Header -->
    <div class="section-header text-center">
      <h2 class="section-title">Our Journey</h2>
      <p class="section-subtitle">The Evolution of Koshish Family</p>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <TimelineSlider items={timelineData} />
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
